/* I just use the same color for the background. */

/* @import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;

  --heading-font: 'Montserrat', serif;
  --paragraph-font: 'Open+Sans', serif;

  --nav-background-color: #e7c24f;
  --nav-link-color: #396e94;
  --nav-hover-link-color: #a43312;
  --nav-hover-background-color: #381d2a;
}
     
body {
  font-family: var(--paragraph-font);
  /* max-width: 960px; (wanted to use this function but I keep it commented.)*/ 
  /* margin: auto;
  padding: 20px;
}
    
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
} */ 

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  margin: 0;
  padding: 0;
}

html, code {
  font: 15px/22px Arial, sans-serif;
}

html {
  background: #fff;
  color: #222;
  padding: 15px;
}

body {
  background: 100% 5px no-repeat;
  margin-top: 0;
  min-height: 180px;
  padding: 30px 0 15px;
}

* > body {
  padding-right: 205px;
}

p {
  margin: 22px 0 0;
  overflow: hidden;
}

ins {
  text-decoration: none;
  color: #777;
}

.projectLogo a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #63666a;
  line-height: 1.375;
  text-decoration: none;
}

.projectLogo img {
  margin: -1px 0 -4px;
  vertical-align: middle;
}
