/* I've modified the import url.*/ 

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* @import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap'); */

:root {
  --primary-color: #999ca7;
  --secondary-color: #6b8f85;
  --accent1-color: #118AB2;
  --accent2-color: #404c7a;

  --heading-font: 'font-name', serif; /* Replace 'font-name' with your chosen font */
  --paragraph-font: 'optional-2nd-font-name', serif; /* Replace 'optional-2nd-font-name' with your chosen font */

  --nav-background-color: var(--secondary-color); /* Replace with the desired color code */
  --nav-link-color: var(--primary-color); /* Replace with the desired color code */
  --nav-hover-link-color: var(--accent1-color); /* Replace with the desired color code */
  --nav-hover-background-color: var(--accent2-color); /* Replace with the desired color code */
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: auto; /* Center the body */
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


/* 

* {
  margin: 0;
  padding: 0;
}

html, code {
  font: 15px/22px Arial, sans-serif;
}

html {
  background: #fff;
  color: #222;
  padding: 15px;
}

body {
  background: 100% 5px no-repeat;
  margin-top: 0;
  min-height: 180px;
  padding: 30px 0 15px;
}

* > body {
  padding-right: 205px;
}

p {
  margin: 22px 0 0;
  overflow: hidden;
}

ins {
  text-decoration: none;
  color: #777;
}

.projectLogo a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #63666a;
  line-height: 1.375;
  text-decoration: none;
}

.projectLogo img {
  margin: -1px 0 -4px;
  vertical-align: middle;
} */
