/*I've modified the import url. And add some features.*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

:root {
  --primary-color: #0c0808; 
  --secondary-color: #6b8f85; 
  --accent1-color: #118AB2; 
  --accent2-color: #404c7a; 
  --blue1: #396e94; 
  --blue2: #118AB2; 
  --green1: #aabd8c; 
  --green2: #6b8f85;

  --heading-font: 'Open Sans', sans-serif; 
  --paragraph-font: 'Open Sans', sans-serif; 

  --nav-background-color: #c8d8cb; 
  --nav-link-color: #999ca7; 
  --nav-hover-link-color: #118AB2; 
  --nav-hover-background-color: #404c7a; 
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color); 
}

header {
  padding: 20px;
  background-color: var(--blue1);
}

p {
  padding: 25px;
  background-color: var(--green1); 
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.heading-example {
  font-family: 'Montserrat', sans-serif;
}

.paragraph-example {
  font-family: 'Open Sans', sans-serif;
}

.colored-callout {
  color: #02162c;
}

.special-offer {
  font-family: 'Open Sans', sans-serif;
  color: #a43312;
}